@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --mindtrade-font: 'Poppins';
    --main-font: 'Poppins'; 
    --primarycolor: #2e55e9;
    --secondcolor: #00d8ff;
    --primaryTextColor: #fff;
    --thirdTextColor: #7d818b;
    --boxesColor: #25283d;
    --bgBoxesColor: #131325;
    --bgRecentsCont: #131325ca; 
    --mainbox: #090E1A;
    --secondtextcolor: #353535;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

main {
    display: flex;
    justify-content: center;
    background-image: url(IMG/Imgs/background.png);
    background-size: cover;
    width: 100%;
}

.mainCont {
    max-width: 1800px;
}

.first-content {
    display: flex;
    justify-content: space-between;
    padding: 140px 40px 0px 40px;
    height: 1040px;
    overflow: hidden;
}

.left-main {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    margin-top: 100px;
}

.title {
    width: 100%;
    padding: 0px;
    line-height: 100px;
    user-select: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 20px;
}

.title>span>strong {
    font-weight: 700;
    background-image: linear-gradient(to right bottom, #00E9EA, #2e55e9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
    
.description {
    width: 90%;
    padding: 0px;
    margin-top: 0px;
    color: var(--thirdTextColor) ;
    font-family: var(--main-font);
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
    word-break: break-word;
}

.student {
    display: flex;
    align-items: end;

    user-select: none;
}


.student-img {
    height: 100%;
}

.firstContBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 0 40px;
    width: 100%;
    height: 100px;
    background-color: #fff;
    /*background-image: linear-gradient(to right bottom, #00E9EA, #2e55e9);*/
    border-radius: 50px;
}

.aBarBoxes {
    text-decoration: none;
}

.barBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    color: var(--mainbox);
    text-decoration: none;
}



#second-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 200px 0 200px 0;
    /*padding: 200px 40px 200px 40px;*/
    height: 800px;
}

.benefitsImgCont {
    max-height: 750px;
}

.benefits-cont {
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font);
}

.benefits {
    display: flex;
    flex-direction: column;
}

.benefits > h2 {
    font-size: 55px;
    font-weight: 600;
    line-height: 65px;
    margin: 0 0 30px 0;
    color: var(--primaryTextColor);
}

.benefits > h2 > span {
    background-image: linear-gradient(to right bottom, #00E9EA, #2e55e9);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

#impar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 600px;
    text-align: justify;
}

#impar-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;

    color: #fff;
    background-color: #00d8ff;

    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
} 

#impar-text > h3 {
    color: var(--primaryTextColor);
    font-size: 30px;
    margin: 0 0 5px 0;
    padding: 0;
}

#impar-text > p {
    color: var(--thirdTextColor);
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#par {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

#par-img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;

    color: #fff;
    background-color: var(--primarycolor);

    min-width: 80px;
    min-height: 80px;
    border-radius: 50%;
} 

#par-text > h3 {
    color: var(--primaryTextColor);
    font-size: 30px;
    margin: 0 0 5px 0;
    padding: 0;
}

#par-text > p {
    color: var(--thirdTextColor);
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

#third-content {
    padding: 0 0px;
    margin: 0px 0 200px 0;
}

.recentsMainCont {
    display: flex;
    flex-direction: column;
    gap: 70px;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 70px 0px;
    padding: 70px 40px 70px 40px;
    background: var(--bgRecentsCont);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.recentsMainCont > h4 {
    font-family: var(--main-font);
    font-size: 55px;
    text-transform: uppercase;
    color: #fff;
}

.recentsBlocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.recentsBlocks a {
    text-decoration: none;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #fff;
    flex-grow: 1;
    
    padding: 50px;
    width: 450px;
    height: 500px;
    border-radius: 20px;

    background-color: var(--boxesColor);
}

.recentsImg {
    position: relative;
    margin: -130px 0 0 -30px;
    height: 150px;
    width: 150px;
}

.recentsTitles {
    font-size: 50px;
    font-weight: 600;
}

.recentsDesc {
    font-weight: 500;
    color: #7d818b;
    font-size: 25px;
}


